body {
  background-color: black;
  font-family: Arial, sans-serif;
  color: grey;
  margin: 0;
  padding: 20px;
}

h1 {
  color: grey;
  text-align: center;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

label {
 text-decoration: underline;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.underline {
  text-decoration: underline;
}